# Final Lab Solutions

This document contains solutions for the final lab of Microsoft's course DAT208x - Introduction to Python for Data Science .

---

## 1. Importing and summarizing data

**Read and explore your data**

In [64]:
import pandas as pd
import numpy as np

recent_grads_url = "https://s3.amazonaws.com/assets.datacamp.com/production/course_6060/datasets/recent_grads.csv" #dataset containing information on a university's recent graduates
recent_grads = pd.read_csv(recent_grads_url)
print(recent_grads.shape)

(173, 21)

In [65]:
# Print .dtypes
print(recent_grads.dtypes)

rank                      int64
major_code                int64
major                    object
major_category           object
total                     int64
sample_size               int64
men                       int64
women                     int64
sharewomen              float64
employed                  int64
full_time                 int64
part_time                 int64
full_time_year_round      int64
unemployed                int64
unemployment_rate       float64
median                   object
p25th                    object
p75th                    object
college_jobs              int64
non_college_jobs          int64
low_wage_jobs             int64
dtype: object

In [66]:
# Output basic summary statistics for all columns that aren't of type object.
print(recent_grads.describe(exclude=['object']))

             rank   major_code          total  sample_size            men  \
count  173.000000   173.000000     173.000000   173.000000     173.000000
mean    87.000000  3879.815029   39167.716763   356.080925   16637.358382
std     50.084928  1687.753140   63354.613919   618.361022   28063.394844
min      1.000000  1100.000000     124.000000     2.000000     119.000000
25%     44.000000  2403.000000    4361.000000    39.000000    2110.000000
50%     87.000000  3608.000000   15058.000000   130.000000    5347.000000
75%    130.000000  5503.000000   38844.000000   338.000000   14440.000000
max    173.000000  6403.000000  393735.000000  4212.000000  173809.000000

               women  sharewomen       employed      full_time      part_time  \
count     173.000000  173.000000     173.000000     173.000000     173.000000
mean    22530.358382    0.522550   31192.763006   26029.306358    8832.398844
std     40966.381219    0.230572   50675.002241   42869.655092   14648.179473
min         0.000000    0.000000       0.000000     111.000000       0.000000
25%      1784.000000    0.339671    3608.000000    3154.000000    1030.000000
50%      8284.000000    0.535714   11797.000000   10048.000000    3299.000000
75%     22456.000000    0.702020   31433.000000   25147.000000    9948.000000
max    307087.000000    0.968954  307933.000000  251540.000000  115172.000000

       full_time_year_round    unemployed  unemployment_rate   college_jobs  \
count            173.000000    173.000000         172.000000     173.000000
mean           19694.427746   2416.329480           0.068587   12322.635838
std            33160.941514   4112.803148           0.029967   21299.868863
min              111.000000      0.000000           0.000000       0.000000
25%             2453.000000    304.000000           0.050723    1675.000000
50%             7413.000000    893.000000           0.068272    4390.000000
75%            16891.000000   2393.000000           0.087599   14444.000000
max           199897.000000  28169.000000           0.177226  151643.000000

       non_college_jobs  low_wage_jobs
count        173.000000     173.000000
mean       13284.497110    3859.017341
std        23789.655363    6944.998579
min            0.000000       0.000000
25%         1591.000000     340.000000
50%         4595.000000    1231.000000
75%        11783.000000    3466.000000
max       148395.000000   48207.000000

**Replacing Missing Values**

There are some missing values in the dataset that are coded as a string. You'll update these to a value that Python understands as "missing."

The list columns contains the names of the columns you'll be working with in this exercise.

In [67]:
# Names of the columns we're searching for missing values 
columns = ['median', 'p25th', 'p75th']

# Take a look at the dtypes of the columns listed above
print(recent_grads[columns].dtypes)

# Find how missing values are represented
print(recent_grads['median'].unique())

# Replace missing values with NaN
for column in columns:
    recent_grads.loc[recent_grads[column] == 'UN', column] = np.nan

# "UN" replaced for nan
print(recent_grads['median'].unique())

median    object
p25th     object
p75th     object
dtype: object
['110000' '75000' '73000' '70000' '65000' 'UN' '62000' '60000' '58000'
 '57100' '57000' '56000' '54000' '53000' '52000' '51000' '50000' '48000'
 '47000' '46000' '45000' '44700' '44000' '42000' '41300' '41000' '40100'
 '40000' '39000' '38400' '38000' '37500' '37400' '37000' '36400' '36200'
 '36000' '35600' '35000' '34000' '33500' '33400' '33000' '32500' '32400'
 '32200' '32100' '32000' '31500' '31000' '30500' '30000' '29000' '28000'
 '27500' '27000' '26000' '25000' '23400' '22000']
['110000' '75000' '73000' '70000' '65000' nan '62000' '60000' '58000'
 '57100' '57000' '56000' '54000' '53000' '52000' '51000' '50000' '48000'
 '47000' '46000' '45000' '44700' '44000' '42000' '41300' '41000' '40100'
 '40000' '39000' '38400' '38000' '37500' '37400' '37000' '36400' '36200'
 '36000' '35600' '35000' '34000' '33500' '33400' '33000' '32500' '32400'
 '32200' '32100' '32000' '31500' '31000' '30500' '30000' '29000' '28000'
 '27500' '27000' '26000' '25000' '23400' '22000']

**Select a column**

In [68]:
# Select sharewomen column
sw_col = recent_grads["sharewomen"]

# Output first five rows
print(sw_col.head(5))

0    0.120564
1    0.101852
2    0.153037
3    0.107313
4    0.341631
Name: sharewomen, dtype: float64

**Column Maximum Value**

In [69]:
# Use max to output maximum values
max_sw = max(sw_col)

# Print column max
print(max_sw)

0.968953683

In [70]:
# Output the row containing the maximum percentage of women
print(recent_grads[sw_col == max_sw])

     rank  major_code                        major             major_category  \
162   163        5502  ANTHROPOLOGY AND ARCHEOLOGY  Humanities & Liberal Arts

     total  sample_size   men  women  sharewomen  employed  ...  part_time  \
162  38844          247  1167  36422    0.968954     29633  ...      14515

     full_time_year_round  unemployed  unemployment_rate  median  p25th  \
162                 13232        3395           0.102792   28000  20000

     p75th college_jobs  non_college_jobs  low_wage_jobs
162  38000         9805             16693           6866

[1 rows x 21 columns]

**Converting a DataFrame to Numpy Array**

In [71]:
# Convert to numpy array
recent_grads_np = np.array(recent_grads[["unemployed", "low_wage_jobs"]])

# Print the type of recent_grads_np
print(type(recent_grads_np))

<class 'numpy.ndarray'>

**Correlation Coefficient**

In [72]:
# Calculate correlation matrix
print(np.corrcoef(recent_grads_np[:,0], recent_grads_np[:,1]))

[[1.         0.95538815]
 [0.95538815 1.        ]]

## 2. Manipulating Data

**Creating Columns I**

In [73]:
# Add sharemen column
recent_grads['sharemen'] = recent_grads["men"] / recent_grads["total"]
print(recent_grads[['sharemen', 'men', 'total']].head(5))

   sharemen    men  total
0  0.879436   2057   2339
1  0.898148    679    756
2  0.846963    725    856
3  0.892687   1123   1258
4  0.658369  21239  32260

**Select Row with the Highest Value**

In [74]:
# Find the maximum percentage value of men
max_men = max(recent_grads["sharemen"])
 
# Output the row with the highest percentage of men
print(recent_grads[recent_grads["sharemen"] == max_men])

     rank  major_code                                       major  \
120   121        2301  EDUCATIONAL ADMINISTRATION AND SUPERVISION

    major_category  total  sample_size    men  women  sharewomen  employed  \
120      Education    804            5  78253  63698    0.448732       703

     ...  full_time_year_round  unemployed  unemployment_rate  median  p25th  \
120  ...                   504           0                0.0   34000  29000

     p75th college_jobs non_college_jobs  low_wage_jobs   sharemen
120  35000          346              206            111  97.329602

[1 rows x 22 columns]

**Creating Columns II**

In [75]:
# Add gender_diff column
recent_grads['gender_diff'] = recent_grads["sharewomen"] - recent_grads["sharemen"]
recent_grads["gender_diff"].head(5)

0   -0.758871
1   -0.796296
2   -0.693925
3   -0.785374
4   -0.316739
Name: gender_diff, dtype: float64

**Updating Columns**

In [53]:
# Make all gender difference values positive
recent_grads['gender_diff'] = abs(recent_grads['gender_diff'])

# Find the 5 rows with lowest gender rate difference
print(recent_grads.nsmallest(5, 'gender_diff'))

    rank  major_code                                   major  \
8      9        2414                  MECHANICAL ENGINEERING
74    75        5003                               CHEMISTRY
37    38        6205                      BUSINESS ECONOMICS
65    66        2599  MISCELLANEOUS ENGINEERING TECHNOLOGIES
78    79        5506        POLITICAL SCIENCE AND GOVERNMENT

       major_category   total  sample_size    men  women  sharewomen  \
8         Engineering   91227         1029  12953   2105    0.139793
74  Physical Sciences   66530          353  32923  33607    0.505141
37           Business   13302          199   3477   1154    0.249190
65        Engineering    8804          125    124      0    0.000000
78     Social Science  182621         1387  93880  88741    0.485930

    employed  ...  unemployed  unemployment_rate  median  p25th  p75th  \
8      76442  ...        4650           0.057342   60000  48000  70000
74     48535  ...        2769           0.053972   39000  30000  49900
37     10914  ...        1165           0.096448   46000  33000  58000
65      7502  ...         416           0.052539   40000  30400  56000
78    133454  ...       15022           0.101175   38000  28000  50000

   college_jobs non_college_jobs low_wage_jobs  sharemen  gender_diff
8         52844            16384          3253  0.141986     0.002194
74        30382            14718          4288  0.494859     0.010281
37         1578             4612          1284  0.261389     0.012199
65         2446             3896           386  0.014085     0.014085
78        36854            66947         19803  0.514070     0.028140

[5 rows x 23 columns]

**Filtering Rows**

In [80]:
# Rows where gender rate difference is greater than .30 
diff_30 = recent_grads['gender_diff'] > .30

# Rows with more men
more_men = recent_grads['men'] > recent_grads['women']

# Combine more_men and diff_30
more_men_and_diff_30 = np.logical_and(diff_30, more_men)

# Find rows with more men and and gender rate difference greater than .30
fewer_women = recent_grads[more_men_and_diff_30]
fewer_women

,rank,major_code,major,major_category,total,sample_size,men,women,sharewomen,employed,...,unemployed,unemployment_rate,median,p25th,p75th,college_jobs,non_college_jobs,low_wage_jobs,sharemen,gender_diff
9,10,2408,ELECTRICAL ENGINEERING,Engineering,81527,631,8407,6548,0.437847,61928,...,3895,0.059174,60000,45000,72000,45829,10874,3170,0.103119,0.334728
57,58,6200,GENERAL BUSINESS,Business,234590,2380,6053,4346,0.417925,190183,...,14946,0.072861,40000,30000,55000,29334,100831,27320,0.025802,0.392122
77,78,6206,MARKETING AND MARKETING RESEARCH,Business,205211,2684,11404,7076,0.382900,178862,...,11663,0.061215,38000,30000,50000,25320,93889,27968,0.055572,0.327328
93,94,1901,COMMUNICATIONS,Communications & Journalism,213996,2394,476,209,0.305109,179633,...,14602,0.075177,35000,27000,45000,40763,97964,27440,0.002224,0.302885
137,138,3301,ENGLISH LANGUAGE AND LITERATURE,Humanities & Liberal Arts,194673,1436,4897,2519,0.339671,149180,...,14345,0.087724,32000,23000,41000,57690,71827,26503,0.025155,0.314516

**Grouping with counts**

Calls to `.groupby()` have the following three components: the column you want to group, the column you want to aggregate, and the statistic you want to aggregate by. For example, in our dataset, if we wanted to see the percentage of women `('sharewomen')` per `'major_category'`, we could leverage a `.groupby` like:

In [55]:
recent_grads.groupby('major_category')['sharewomen'].mean()

major_category
Agriculture & Natural Resources        0.617938
Arts                                   0.561851
Biology & Life Science                 0.584518
Business                               0.405063
Communications & Journalism            0.643835
Computers & Mathematics                0.512752
Education                              0.674986
Engineering                            0.257158
Health                                 0.616857
Humanities & Liberal Arts              0.676193
Industrial Arts & Consumer Services    0.449351
Interdisciplinary                      0.495397
Law & Public Policy                    0.335990
Physical Sciences                      0.508749
Psychology & Social Work               0.777763
Social Science                         0.539067
Name: sharewomen, dtype: float64

In [56]:
# Group by major category and count
print(recent_grads.groupby(['major_category']).major_category.count())

major_category
Agriculture & Natural Resources        10
Arts                                    8
Biology & Life Science                 14
Business                               13
Communications & Journalism             4
Computers & Mathematics                11
Education                              16
Engineering                            29
Health                                 12
Humanities & Liberal Arts              15
Industrial Arts & Consumer Services     7
Interdisciplinary                       1
Law & Public Policy                     5
Physical Sciences                      10
Psychology & Social Work                9
Social Science                          9
Name: major_category, dtype: int64

**Grouping with counts II**

Create a DataFrame that groups the departments by major category and shows the number of departments that are skewed in women.

In [57]:
# Group departments that have less women by category and count
print(fewer_women.groupby('major_category')['major_category'].count())

major_category
Agriculture & Natural Resources         1
Biology & Life Science                  1
Business                                3
Communications & Journalism             1
Computers & Mathematics                 4
Education                               2
Engineering                            21
Health                                  1
Humanities & Liberal Arts               1
Industrial Arts & Consumer Services     3
Interdisciplinary                       1
Law & Public Policy                     1
Physical Sciences                       5
Psychology & Social Work                1
Social Science                          2
Name: major_category, dtype: int64

**Grouping One Column with means**

In [58]:
# Report average gender difference by major category
print(recent_grads.groupby('major_category')['gender_diff'].mean())

major_category
Agriculture & Natural Resources        4.511111
Arts                                   0.308747
Biology & Life Science                 4.785277
Business                               0.318304
Communications & Journalism            0.483868
Computers & Mathematics                0.700728
Education                              6.869082
Engineering                            1.296387
Health                                 0.450257
Humanities & Liberal Arts              0.540437
Industrial Arts & Consumer Services    2.474325
Interdisciplinary                      0.320397
Law & Public Policy                    0.281993
Physical Sciences                      1.556373
Psychology & Social Work               5.719239
Social Science                         1.695479
Name: gender_diff, dtype: float64

**Grouping Two Columns with means**

In [84]:
# Find average number of low wage jobs and unemployment rate of each major category
dept_stats = recent_grads.groupby(['major_category'])['low_wage_jobs', 'unemployment_rate'].mean()

---

# 3. Visualizing Data

**Plotting Scatterplots**

In [ ]:
# Import matplotlib
import matplotlib.pyplot as plt

# Create scatter plot
plt.scatter(unemployment_rate, low_wage_jobs)

# Label x axis
plt.xlabel('Unemployment rate')

# Label y axis
plt.ylabel('Low pay jobs')

# Display the graph 
plt.show()

**Modifying Plot Colors**

In [ ]:
# Plot the red and triangle shaped scatter plot  
plt.scatter(unemployment_rate, low_wage_jobs, 
color = 'r', 
marker = "^")

# Display the visualization
plt.show()

**Plotting Histograms**

In [ ]:
# Plot a histogram of sharewomen
plt.hist(sharewomen)

# Show the plot
plt.show()

**Plotting with Pandas**

In Python, there are several different ways to create visualizations. In fact, pandas has its own visualization capabilities, all of which are built on top of matplotlib! For example, you could have created the histogram from the previous exercise using `recent_grads.sharewomen(kind="hist")` instead of `plt.hist(recent_grads.sharewomen)`.

All pandas plots are created using the `.plot()` method on a DataFrame. Inside `.plot()`, you can specify which plot you want to create using the kind parameter. For example, `kind= 'hist'` would create a histogram, `kind='scatter'` would create a scatter plot, and so on.

In [ ]:
# Import matplotlib and pandas
import matplotlib.pyplot as plt
import pandas as pd

# Create scatter plot
dept_stats.plot(kind='scatter', x='unemployment_rate', y='low_wage_jobs')
plt.show()

# Create histogram
recent_grads.sharewomen.plot(kind='hist')
plt.show()

**Plotting One Bar Graphs**

- First, create a DataFrame to plot. Use `recent_grads` to make a DataFrame that reports each major category and the number of college graduates with a job that doesn't require a degree. Assign this to a variable named `df`.

- Plot this data as a bar chart using the `.plot()` method. Here, `kind` should be `"bar"`.

In [ ]:

# DataFrame of non-college job sums
df = recent_grads.groupby(['major_category']).non_college_jobs.sum()

# Plot bar chart
df.plot(kind="bar")

# Show graph
plt.show()

**Plotting Two Bar Graphs**

Use pandas to create a DataFrame that reports the number of graduates working at jobs that do require college degrees `('college_jobs')`, and do not require college degrees `('non_college_jobs')`. Assign this to a variable named `df1`.

In [ ]:
# DataFrame of college and non-college job sums
df1 = recent_grads.groupby('major_category')['college_jobs','non_college_jobs'].sum()

# Plot bar chart
df1.plot(kind="bar", x="college_jobs",y="non_college_jobs")

# Show graph
plt.show()

**Dropping Missing Values**

In [ ]:
# Print the size of the DataFrame
print(recent_grads.size)

# Drop all rows with a missing value
recent_grads.dropna(axis = 0, inplace=True)

# Print the size of the DataFrame
print(recent_grads.size)

**Plotting Quantiles of Salary I**

In [ ]:
# Convert to numeric and divide by 1000
recent_grads['median'] = pd.to_numeric(recent_grads['median'])/1000
recent_grads['p25th'] = pd.to_numeric(recent_grads['p25th'])/1000
recent_grads['p75th'] = pd.to_numeric(recent_grads['p75th'])/1000

# Select averages by major category
columns = ['median', 'p25th', 'p75th']
sal_quantiles = recent_grads.groupby('major_category')[columns].mean()

**Plotting Quantiles of Salary II**

In [ ]:
# Plot the data
sal_quantiles.plot()

# Set xticks
plt.xticks(
    np.arange(len(sal_quantiles.index)),
    sal_quantiles.index, 
    rotation='vertical')

# Show the plot
plt.show()

# Plot with subplots
sal_quantiles.plot(subplots=True)

plt.show()